<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/assets/main.css" />
  {{> head}}
  </head>
  <body>
      <main class="page">
        <header class="main-header">
            <a href="/" class="logo-link">
                <img src="/assets/logo_green.svg" alt="minimal line-art of a crow wearing a green baseball cap" />
                <h2>Sneaky Crow<h2>
            </a>
            <nav>
                <a href="/">home</a>
                <a href="/blog">blog</a>
            </nav>
        </header>
        {{> page}}
        <footer class="main-footer">
            <section class="build-info">
                <p>
                    <span>build hash:</span>
                    <span>{{ build_hash }}</span>
                </p>
                <p>
                    <span>build date:</span>
                    <span>{{ build_time }}</span>
                </p>
                <p>
                    <span>webmaster:</span>
                    <a href="mailto:{{ author_email }}">{{ author_name }} &lt;{{ author_email }}&gt;</a>
                </p>
            </section>
        </footer>
      </main>
  </body>
</html>
